name: Node.js Tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    timeout-minutes: 20
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        node-version: [14.x, 15.x, 16.x]
        os: [windows-2016, ubuntu-18.04, macos-10.15, windows-2019, ubuntu-20.04]

    steps:
    - uses: actions/checkout@v2.3.4
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v2.4.0
      with:
        node-version: ${{ matrix.node-version }}
    - run: npm ci
    - run: npm test
